.footer {
    grid-area: foot;
    background-color: #000; 
    position: relative;
   

}

.footer .footer-bottom {
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 560px;
   


}

.footer .footer-content {
   
    height: 170px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    
    padding: 25px;
}



.footer .footer-section  .link span {
    display: block;
    font-size: 17.6px;
    margin-bottom: 8px;

}

.footer .footer-content .about  {
    color: #fff;
}

.footer .footer-content .about p {
    color: #fff;
}

.contact {
    color: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.footer .footer-section  .social a {
    border: 1px solid #000;
    width: 85px;
    height: 40px;
    padding-top: 6px;
    margin-right: 7px;
    text-align: center;
    display: inline-block;
    font-size: 20.8px;
    border-radius: 11px;
    color: #fff;
    text-decoration: none;
}

.footer .footer-section  .social a:hover {
    color: #00778c;
}